<html>
<head><title>Log In</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect();
        socket.on('connect', function() {
            console.log('you have been connected');
        });
        socket.on('connect_error', function() {
            console.log('you have been disconnected');
        });
        socket.emit('test', 'did it work?');
    </script>
</head>
    <body>
        <p>You're not logged in</p>
        <a href="/login/twitter">Log in using Twitter</a>
    </body>
</html>